{% extends "base.html" %}

{% block title %}Tareas - Clase 1114{% endblock %}

{% block content %}
<div class="card shadow-sm border-0 p-4">
    <h2 class="fw-bold text-primary mb-4">Tareas Entregables</h2>
    
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Título</th>
                <th scope="col">Fecha de Entrega</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ loop.index }}</td> 
                
                <td class="fw-bold">{{ tarea.titulo }}</td>
                <td>{{ tarea.fecha_entrega }}</td>
                
                    
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}