<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Profesor - Sección 1114</title>
</head>
<body>
    <h1>Panel del Profesor</h1>
    <p>Bienvenido, {{ usuario }}</p>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <h2>Acciones del Profesor</h2>
    <ul>
        <li><a href="/templates/crear_tarea.html.html"><strong>Crear tareas</strong></a></li>
        <li><a href="/templates/mis_tareas.html"><strong>Ver y gestionar tareas creadas </strong></a></li>
        <li>Ver estudiantes inscritos (Próximamente)</li>
        <li>Poner calificaciones (Próximamente)</li>
    </ul>
</body>
</html>